### 2. Importing Pandas as PD and Creating a DataFrame

In [3]:
import pandas as PD

In [13]:
data_dict = {'Roll Number':[1, 2, 3], 'Maths Marks':[95, 87, 100], 'Chemistry Marks':[97, 93, 98]}
dat = PD.DataFrame(data_dict)
dat

   Roll Number  Maths Marks  Chemistry Marks
0            1           95               97
1            2           87               93
2            3          100               98

### 3. Viewing the head of the DataFrame

In [14]:
dat.head(2)

   Roll Number  Maths Marks  Chemistry Marks
0            1           95               97
1            2           87               93

In [15]:
dat.tail(2)

   Roll Number  Maths Marks  Chemistry Marks
1            2           87               93
2            3          100               98

### 4. Viewing the Index of the DataFrame

In [16]:
dat.index

RangeIndex(start=0, stop=3, step=1)

### 5. Viewing the 1st Column

In [17]:
dat['Roll Number']

0    1
1    2
2    3
Name: Roll Number, dtype: int64

### 6. Viewing the 1st Row

In [18]:
dat.loc[0]

Roll Number         1
Maths Marks        95
Chemistry Marks    97
Name: 0, dtype: int64

### 7. Alternative construction technique of DataFrame

In [19]:
data_list = [{'Roll Number':1, 'Maths Marks':95, 'Chemistry Marks':97}, {'Roll Number':2, 'Maths Marks':87, 'Chemistry Marks':93}, {'Roll Number':3, 'Maths Marks':100, 'Chemistry Marks':98}]
dat2 = PD.DataFrame(data_list)
dat2

   Roll Number  Maths Marks  Chemistry Marks
0            1           95               97
1            2           87               93
2            3          100               98

### 8. Writing the DataFrame to a new csv file

In [23]:
dat.to_csv("Bhatnagar_PANDASChallenge.csv")

### 9. Answers

1. The loop of write/render/evaluate provides an iterative flow to data visualization. Authors can experiment with different styles and techniques of mapping, tweaking out the rules and getting an output re-rendered almost immediately. This loop thus, helps the author find the most efficient mapping rule that conveys the information through the data visualization process the most effectively.

2. Interactive data can encourage engagement with the data in ways that static data cannot. Additionally, when there are multidimentional data sets where different perspectives are to be presented, dynamic, interactive data can then prove to be useful. Moreover, it provides the audience a chance to explore the data, play with it and otherwise engage with it which can make the audience engage with a topic they might not have cared about. It becomes a fun way to understand data and the audience can find multiple perspectves which is very hard to convey through static data. Thus, dynamic, interactive data visualization tools become more useful for communicating data.

3. Yes, I agree that open-source tools that avoid proprietary software are best for publishing data visualization. Open-source tools can help the authors reach a wider audience, which might not always be possible with proprietary softwares. Additionally, it is more cost-effective since the authors do not have to invest a lot of money initially. It also encourages broader collaboration without the hassles of licensing. It thus provides for a more transparent and accessible experience for a broader community.